###############################################################################
# PRINTER.CFG - SAMPLE CONFIG FILE FOR MONITORING A NETWORK PRINTER
#
#
# NOTES: This config file assumes that you are using the sample configuration
#	 files that get installed with the Nagios quickstart guide.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################
###############################################################################

# Define a host for the printer we'll be monitoring
# Change the host_name, alias, and address to fit your situation

define host{
	use		generic-printer		; Inherit default values from a template
	host_name	cellphone2		; The name we're giving to this printer
	alias		cellphone2	; A longer name associated with the printer
	address		192.168.50.167		; IP address of the printer
	hostgroups	network-cellphones 	; Host groups this printer is associated with
	check_command                   check-host-alive
        check_interval                  5
        retry_interval                  1
        max_check_attempts              5
        check_period                    24x7
        process_perf_data               1
        ###use_retained_program_state      1
        retain_status_information       1
        notification_interval           30
        notification_period             24x7
        notification_options            d,u,r
        contacts        sysadmin.windows
        contact_groups  admins.windows.division
	}




###############################################################################
###############################################################################
#
# HOST GROUP DEFINITIONS
#
###############################################################################
###############################################################################

# A hostgroup for network printers

define hostgroup{
	hostgroup_name	network-cellphones2	; The name of the hostgroup
	alias		Network Cellphones2	; Long name of the group
	}




###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Create a service for monitoring the status of the printer
# Change the host_name to match the name of the host you defined above
# If the printer has an SNMP community string other than "public", change the check_command directive to reflect that


# Create a service for "pinging" the printer occassionally.  Useful for monitoring RTA, packet loss, etc.

define service{
	use			generic-service
	host_name		cellphone2
	service_description	PING
	check_command		check_ping!3000.0,80%!5000.0,100%
	normal_check_interval	10
	retry_check_interval	1
	contacts        sysadmin.windows
        contact_groups  admins.windows.division
        }

