<!DOCTYPE html>
<html lan="en">

<head>
  <title>CyberForza</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js";></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css "crossorigin="anonymous">
  <link href="main.css" rel="stylesheet" />
  <script src="main.js"></script>
</head>

<body class="text-center">
<div class="container" ng-app="testApp" ng-controller="testController">
  <form class="form-signin" autocomplete="on">
    
<h4>ADD DATABASE</h4>	
  <br><p> Data Source Name:
  <input id="name" ng-model="name" class="form-control"> </p>
  <p> Description:
 <input id="alias" ng-model="alias" class="form-control"> </p>
<p> Server:Port:
 <input id="ip" ng-model="ip" class="form-control"> </p>  
 
  <p> <button class = "btn btn-primary" ng-click="getRequest()">OK</button>
<button class = "btn  btn-primary" ng-click="getRequest()">Cancel</button>
<button class = "btn btn-primary" ng-click="getRequest()">Connect</button></p>
<p><button class = "btn" ng-click="getRequest()">Settings</button></p>
  
  
</div>
</form>
</body>
</html>
