<!DOCTYPE html>
<html lan="en">

<head>
  <title>CyberForza</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js";></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css "crossorigin="anonymous">
  <link href="main.css" rel="stylesheet" />
  <script src="tacontact.js"></script>
</head>

<body class="text-center">
<div class="container" ng-app="testApp" ng-controller="testController">
<h4>CONTACT FOR THREAT ANALYTICS EMAIL NOTIFICATIONS</h4>
  <form class="form-signin" autocomplete="on">
<p> Enter email:
 <input id="email" ng-model="email" class="form-control"  placeholder="Email Address"> </p>
 
  <p> <button class = "btn btn-lg btn-primary btn-block" ng-click="getRequest()">Add Contact</button></p>
  <p>{{ response }}</p>
</form>

</div>

</body>
</html>
