# Created by 
# /usr/bin/cfgmaker --global "WorkDir: /var/www/html/mrtg" --global "Options[_]: bits,growright" --output /etc/mrtg.cfg1 public@localhost


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  or for NT
# WorkDir: c:\mrtgdata



### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no
WorkDir: /var/www/html/mrtg
Options[_]: bits,growright
RunAsDaemon: Yes
Interval: 5


######################################################################
# System: saiuser
# Description: Linux saiuser 4.4.0-77-generic #98-Ubuntu SMP Wed Apr 26 08:34:02 UTC 2017 x86_64
# Contact: Me <me@example.org>
# Location: Sitting on the Dock of the Bay
######################################################################


### Interface 1 >> Descr: 'lo' | Name: 'lo' | Ip: '127.0.0.1' | Eth: 'No Ethernet Id' ###
### The following interface is commented out because:
### * it is a Software Loopback interface
# 
# Target[localhost_1]: 1:public@localhost:
# SetEnv[localhost_1]: MRTG_INT_IP="127.0.0.1" MRTG_INT_DESCR="lo"
# MaxBytes[localhost_1]: 1250000
# Title[localhost_1]: Traffic Analysis for 1 -- saiuser
# PageTop[localhost_1]: <h1>Traffic Analysis for 1 -- saiuser</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>saiuser in Sitting on the Dock of the Bay</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Me &lt;me@example.org&gt;</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>lo  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>softwareLoopback (24)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>lo</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>10.0 Mbits/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>127.0.0.1 (localhost)</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 2 >> Descr: 'Intel-Corporation-NM10/ICH7-Family-LAN-Controller' | Name: 'eth1' | Ip: '192.168.50.141' | Eth: '00-1d-60-53-b2-c0' ###

Target[localhost_2]: 2:public@localhost:
SetEnv[localhost_2]: MRTG_INT_IP="192.168.50.141" MRTG_INT_DESCR="Intel-Corporation-NM10/ICH7-Family-LAN-Controller"
MaxBytes[localhost_2]: 12500000
Title[localhost_2]: Traffic Analysis for 2 -- saiuser
PageTop[localhost_2]: <h1>Traffic Analysis for 2 -- saiuser</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>saiuser in Sitting on the Dock of the Bay</td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td>Me &lt;me@example.org&gt;</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>Intel-Corporation-NM10/ICH7-Family-LAN-Controller  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>eth1</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>100.0 Mbits/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>192.168.50.141 (No DNS name)</td>
				</tr>
			</table>
		</div>


### Interface 3 >> Descr: 'Realtek-Semiconductor-Co.,-Ltd.-RTL-8100/8101L/8139-PCI-Fast-Ethernet-Adapter' | Name: 'eth0' | Ip: 'No Ip' | Eth: '00-14-d1-16-3a-72' ###
### The following interface is commented out because:
### * it is operationally DOWN
# 
# Target[localhost_3]: 3:public@localhost:
# SetEnv[localhost_3]: MRTG_INT_IP="No Ip" MRTG_INT_DESCR="Realtek-Semiconductor-Co.,-Ltd.-RTL-8100/8101L/8139-PCI-Fast-Ethernet-Adapter"
# MaxBytes[localhost_3]: 1250000
# Title[localhost_3]: Traffic Analysis for 3 -- saiuser
# PageTop[localhost_3]: <h1>Traffic Analysis for 3 -- saiuser</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>saiuser in Sitting on the Dock of the Bay</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Me &lt;me@example.org&gt;</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>Realtek-Semiconductor-Co.,-Ltd.-RTL-8100/8101L/8139-PCI-Fast-Ethernet-Adapter  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>ethernetCsmacd (6)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>eth0</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>10.0 Mbits/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>No Ip (No DNS name)</td>
# 				</tr>
# 			</table>
# 		</div>


### Interface 4 >> Descr: 'Realtek-Semiconductor-Co.,-Ltd.-RTL-8185-IEEE-802.11a/b/g-Wireless-LAN-Controller' | Name: 'wlan0' | Ip: 'No Ip' | Eth: '00-02-44-ae-0d-0a' ###
### The following interface is commented out because:
### * it is operationally DOWN
### * has no ifSpeed property
# 
# Target[localhost_4]: 4:public@localhost:
# SetEnv[localhost_4]: MRTG_INT_IP="No Ip" MRTG_INT_DESCR="Realtek-Semiconductor-Co.,-Ltd.-RTL-8185-IEEE-802.11a/b/g-Wireless-LAN-Controller"
# MaxBytes[localhost_4]: 0
# Title[localhost_4]: Traffic Analysis for 4 -- saiuser
# PageTop[localhost_4]: <h1>Traffic Analysis for 4 -- saiuser</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>saiuser in Sitting on the Dock of the Bay</td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td>Me &lt;me@example.org&gt;</td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>Realtek-Semiconductor-Co.,-Ltd.-RTL-8185-IEEE-802.11a/b/g-Wireless-LAN-Controller  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>ethernetCsmacd (6)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>wlan0</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>0.0 bits/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>No Ip (No DNS name)</td>
# 				</tr>
# 			</table>
# 		</div>


# Created by 
# /usr/bin/cfgmaker --global "WorkDir: /var/www/html/mrtg" --global "Options[_]: bits,growright" --output /etc/mrtg.cfg2 public@192.168.50.23


### Global Config Options

#  for UNIX
# WorkDir: /home/http/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6: no
WorkDir: /var/www/html/mrtg
Options[_]: bits,growright

######################################################################
# System: HP4250
# Description: HP ETHERNET MULTI-ENVIRONMENT,ROM none,JETDIRECT,JD128,EEPROM V.28.63,CIDATE 04/07/2006
# Contact: 
# Location: 
######################################################################


### Interface 1 >> Descr: 'No-Description' | Name: 'No Name' | Ip: '192.168.50.23' | Eth: '00-17-08-8e-16-67' ###

Target[192.168.50.23_1]: 1:public@192.168.50.23:
SetEnv[192.168.50.23_1]: MRTG_INT_IP="192.168.50.23" MRTG_INT_DESCR="No-Description"
MaxBytes[192.168.50.23_1]: 1250000
Title[192.168.50.23_1]: Traffic Analysis for 1 -- HP4250
PageTop[192.168.50.23_1]: <h1>Traffic Analysis for 1 -- HP4250</h1>
		<div id="sysdetails">
			<table>
				<tr>
					<td>System:</td>
					<td>HP4250 in </td>
				</tr>
				<tr>
					<td>Maintainer:</td>
					<td></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>No-Description  </td>
				</tr>
				<tr>
					<td>ifType:</td>
					<td>ethernetCsmacd (6)</td>
				</tr>
				<tr>
					<td>ifName:</td>
					<td>No Name</td>
				</tr>
				<tr>
					<td>Max Speed:</td>
					<td>10.0 Mbits/s</td>
				</tr>
				<tr>
					<td>Ip:</td>
					<td>192.168.50.23 (No DNS name)</td>
				</tr>
			</table>
		</div>


### Interface 2 >> Descr: 'No-Description' | Name: 'No Name' | Ip: 'No Ip' | Eth: 'No Ethernet Id' ###
### The following interface is commented out because:
### * it is a Software Loopback interface
# 
# Target[192.168.50.23_2]: 2:public@192.168.50.23:
# SetEnv[192.168.50.23_2]: MRTG_INT_IP="No Ip" MRTG_INT_DESCR="No-Description"
# MaxBytes[192.168.50.23_2]: 173027381
# Title[192.168.50.23_2]: Traffic Analysis for 2 -- HP4250
# PageTop[192.168.50.23_2]: <h1>Traffic Analysis for 2 -- HP4250</h1>
# 		<div id="sysdetails">
# 			<table>
# 				<tr>
# 					<td>System:</td>
# 					<td>HP4250 in </td>
# 				</tr>
# 				<tr>
# 					<td>Maintainer:</td>
# 					<td></td>
# 				</tr>
# 				<tr>
# 					<td>Description:</td>
# 					<td>No-Description  </td>
# 				</tr>
# 				<tr>
# 					<td>ifType:</td>
# 					<td>softwareLoopback (24)</td>
# 				</tr>
# 				<tr>
# 					<td>ifName:</td>
# 					<td>No Name</td>
# 				</tr>
# 				<tr>
# 					<td>Max Speed:</td>
# 					<td>1384.2 Mbits/s</td>
# 				</tr>
# 				<tr>
# 					<td>Ip:</td>
# 					<td>No Ip (No DNS name)</td>
# 				</tr>
# 			</table>
# 		</div>


